fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite

pymongo

pypdf
faiss-cpu
sentence-transformers

datasets

tavily-python

tensorflow
